{% extends "_layout" %}
{% set title = "404!" %}
{% block main %}

<section class="uk-section uk-section-small">
<div class="uk-container uk-container-medium uk-text-center">
	<a href="{{ siteUrl }}"><img src="/static/img/404-cat.gif" alt="404" width="680" height="" /></a>
</div>
</section>

{% endblock %}
